@font-face {
    font-family: Open Sans;
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}


:root {
    --cor01:#B3C1C9;
    --cor02:#949FA6;
    --cor03:#6F787D;
    --cor05:#4B5154;
    --cor06:#2F3E52;
    --cor07:#465D7A;
    --cor08:#5D7BA3;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
    box-sizing: border-box;
}


.title {
    color: #efefef;
    padding-top: 100px;
}

/* Estilos CSS para a caixa de pesquisa */
.search-container {
    text-align: center;
}

.search-box {
    background-color: rgba(255, 255, 255, 0.884);
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    font-size: 15px;
}

.search-button {
    padding: 10px 20px 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}


/* Fim Estilos CSS para a caixa de pesquisa */

.nav{
    color: #efefef;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    line-height: 100px;
    background-color: #2f3e5296;
    /*background: linear-gradient(rgba(39,39,39, 0.6), transparent);*/
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu-btn{
    display: none;
}



.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 650;
    color: #efefef;
    padding-bottom: 10px;
    margin: 0 25px;
    overflow: hidden;

}

.link:hover{
    border-bottom: 2px solid  #007bff;
}
/*
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
*/
main {
    background-image: url("../image/02\ \(2\).jpg");
    background-size: cover;
}



.banner p {
    text-align: center;
    color: white;
    font-size: 30px;
}

/* section services ------------------------*/
#services-container{
    padding: 55px 55px;
    background-color: #2f3e5259;
}
.book-list{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 32px;
}


.book-card{
    background-color:#2f3e5288;
    border-radius: 20px;
}
.book-card img{
    opacity: 90%;
    width: 100%;
    border-radius:20px 20px 0px 0px;
}
.book-text{
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
    padding: 15px;
}
.book-text button {
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--cor07);
    margin: 5px;
    cursor: pointer;
}

.book-text h3{
    font-family: var(--fontPadrao--);
    font-size: 15px;
    font-weight: 650;
    margin-bottom: 8px;
}

.book-text p{
    font-family: var(--font2--);
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}


/*Footer-----------------------------------*/

footer {
    color: #efefef;
}

.box p a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.pagina{
    width: 100%;
    background-color: var(--cor06);
}
.pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}
p.logo {
    font-size: 30px;
}
.pagina .grupo-1 .box figure img{
    width: 250px;
}
.pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}


/*
.pagina .grupo-1 .rede-social a{
    display: inline-block;
    text-decoration: none;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: var(--cor06);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
}
*/

.pagina .grupo-1 .rede-social a {
    font-size: 25px;
    padding: 10px;
    color: white;
}

.pagina .grupo-1 .rede-social a:hover{
    color: #007bff;
}
.pagina .grupo-2{
    background-color: var(--cor07);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pagina .grupo-2 small{
    font-size: 15px;
}


@media screen and (max-width:800px){
    .pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}



/*media-query--------------------------------*/

@media only screen and (max-width: 786px){
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.24);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
       background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}



/*Seção da Seleção das Classes-------------------*/

.classe {
    padding-top: 20px;
    
}

.informatica {
    color: #efefef;
    font-size: 30px;
    padding-top: 20px;
}

.classe button {
    margin-top: 70px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 15px;
    padding: 13px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--cor06);
    color: #efefef;
}

/*Submenu------------------------------------*/
/* Estilos para o submenu */

.menu-cursos {
    display: none;
}

.menu-cursos ul li a {
    color: #efefef;
    text-decoration: none;
}

.nav-menu ul li a:hover.menu-cursos  {
    display: block;
    position: absolute;
    background-color: #007bff;
    margin-top: 15px;
    margin-left: -38;
}

